* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kapakana Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Kapakana Regular"), url("./assets/fonts/Kapakana[wght].woff")
    format("woff");
}

:root {
  --background-primary-color: #000000;
  --background-secondary-color: #363636;
  --background-tertiary-color: #383838;

  --fontcolor-white: #ffffff;
  --fontcolor-grey: #444444;
  --fontcolor-gold: #ccb014;
  --fontcolor-gold-dark: #66580a;

  --font-aboreto: "Aboreto", serif;
  --font-grotesk: "Familjen Grotesk", serif;
  --font-kapakana: "Kapakana Regular", serif;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    70deg,
    var(--background-primary-color) 0%,
    var(--background-secondary-color) 48%,
    var(--background-tertiary-color) 50%,
    var(--background-secondary-color) 52%,
    var(--background-primary-color) 100%
  );
}

.aboreto-regular {
  font-family: "Aboreto", serif;
  font-weight: 400;
  font-style: normal;
}

.familjen-grotesk {
  font-family: "Familjen Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.kapakana-regular {
  font-family: var(--font-kapakana);
  font-weight: normal;
  font-style: normal;
}
