.adminOrdersCard {
  width: 100%;
  background-color: var(--background-secondary-color);
  display: grid;
  grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
  list-style: none;
  font-family: var(--font-grotesk);
  color: var(--fontcolor-gold);
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 15px -5px #000000;
  box-shadow: 0px 0px 15px -5px #000000;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    height: 100%;
    font-size: 18px;
    width: 100%;
    min-height: 4rem;
    background-color: var(--background-secondary-color);
    color: var(--fontcolor-white);
    cursor: default;
    text-align: center;
  }

  .noBorderLi {
    border: none;
  }

  .statusButton {
    background-color: var(--fontcolor-gold);
  }

  .last {
    border-right: none;
    gap: .5rem;

    button {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 8px;
      border: none;
      font-size: 40px;
      -webkit-box-shadow: 0px 0px 15px -5px #000000;
      box-shadow: 0px 0px 15px -5px #000000;
      cursor: pointer;
    }

    .delete {
      background-color: var(--color-red);
      color: var(--fontcolor-white);
    }
  }
}
