.orderPage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 26.4414rem;

  h2 {
    font-family: var(--font-aboreto);
    font-weight: 500;
    font-style: normal;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.54);
    background-color: var(--footerbg-primary-color);
    margin-bottom: 1.75rem;
    font-size: 28px;
    text-align: center;
    padding: 0.25rem 0;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    width: 100%;
    cursor: default;

    @media screen and (min-width: 1280px) {
      font-size: 32px;
      margin-bottom: 2.5rem;
    }
  }
}
