.adminPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-family: var(--font-aboreto);
    font-weight: 500;
    font-style: normal;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.54);
    background-color: var(--footerbg-primary-color);
    margin: 0 0 1.5rem 0;
    font-size: 24px;
    text-align: center;
    padding: 0.25rem 0;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    width: 100%;
    cursor: default;

    @media screen and (min-width: 1080px) {
      font-size: 29px;
    }
  }

  .panel {
    width: 90%;
    background-color: var(--footerbg-primary-color);
    min-height: 20rem;
    margin: 3rem 0;
    -webkit-box-shadow: inset 0px 3.37rem 0px 0px
      var(--background-secondary-color);
    box-shadow: inset 0px 3.37rem 0px 0px var(--background-secondary-color);

    .nav {
      display: grid;
      grid-template-columns: 12rem 12rem 12rem;
      height: 3.37rem;
      position: relative;
      list-style-type: none;
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.72) inset;
      -webkit-box-shadow: 2px 2px 20px -3px rgba(0, 0, 0, 0.72) inset;
      -moz-box-shadow: 2px 2px 2px -3px rgba(0, 0, 0, 0.72) inset;

      a {
        padding: .5rem 1.5rem;
        color: var(--fontcolor-white);
        text-decoration: none;
        font-family: var(--font-grotesk);
        font-size: 25px;
        text-align: center;
        border-right: 2px solid black;
        height: 3.37rem;
      }

      .currentPage {
        background-color: var(--footerbg-primary-color);
        color: var(--fontcolor-black);
        height: 100%;
        height: 3.38rem;
      }

      .deconnexion {
        position: absolute;
        right: 0;
        width: 12rem;
        border-left: 2px solid black;
        border-right: none;
      }

      .currentDeconnexion {
        position: absolute;
        right: 0;
        width: 12rem;
        border-left: 2px solid black;
        border-right: none;
        background-color: var(--footerbg-primary-color);
        color: var(--fontcolor-black);
        height: 3.38rem;
      }
    }
  }
}
