.articlesFiler {
  z-index: 20;
  background-color: var(--background-secondary-color);
  position: absolute;
  top: 4.5rem;
  left: 18rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 13rem;
  -webkit-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.75);

  label {
    display: flex;
    flex-direction: column;
    color: var(--fontcolor-white);
    font-family: var(--font-grotesk);
    font-size: 22px;

    ul {
      list-style: none;
      li {
        font-size: 19px;
        display: flex;
        justify-content: start;
        align-items: center;
      }
    }
  }
}
