.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: var(--font-grotesk);
  width: 90vw;
  height: 25vh;
  margin: .5rem;

  @media screen and (min-width: 868px) and (max-width: 1074px) {
    margin: 0;
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1075px) and (max-width: 1275px) {
    margin: 0;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1275px) {
    margin: 0;
    width: 100%;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .news {
      position: absolute;
      top: 1rem;
      color: var(--fontcolor-white);
      font-family: var(--font-grotesk);
      background-color: var(--color-red);
      padding: 0 1rem 0 .5rem;
      display: flex;
      left: -.2rem;
      z-index: 20;
      cursor: default;
      clip-path: polygon(0% 0%, 100% 0, 100% 0, 90% 100%, 0% 100%);
    }

    .name {
      position: absolute;
      bottom: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.521);
      padding: 0.25rem 0.5rem;
      width: 79.5%;

      @media screen and (min-width: 768px) {
        bottom: 2.16rem;
        width: 100%;
        font-size: 22px;
        padding: .5rem 0 0 .75rem;
      }
    }

    .price {
      position: absolute;
      bottom: 0;
      right: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.521);
      padding: .25rem 0.5rem;
      width: 20.5%;

      @media screen and (min-width: 768px) {
        left: 0;
        font-size: 18px;
        padding: 0 0 0.5rem 0.75rem;
        width: 100%;
      }
    }
  }

  div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    -webkit-box-shadow: inset 0px 0px 17px -3px #000000;
    box-shadow: inset 0px 0px 17px -3px #000000;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin-bottom: 5rem;
      color: var(--fontcolor-white);
      font-family: var(--font-grotesk);
      font-size: 20px;
      font-weight: 100;
      text-decoration: none;
      margin-top: 4.9rem;
      position: relative;
      z-index: 11;
      text-shadow: 2px 2px 4px #000000;
      transition: border 0.2s ease-in-out;

      @media screen and (min-width: 1280px) {
        font-size: 21px;
      }
      @media screen and (min-width: 1100px) and (max-width: 1280px) {
        font-size: 23px;
      }
    }

    a::after,
    a::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -12px;
      right: -12px;
      bottom: -5px;
      border: 2px solid transparent;
      transition: border 0.2s ease-in-out;
      @media screen and (min-width: 1280px) {
        left: -16px;
        right: -16px;
      }
    }

    a:hover::after {
      border-color: var(--footerbg-primary-color);
    }

    a:active::before {
      border-color: var(--footerbg-primary-color);
      background-color: var(--background-tertiary-color);
      z-index: -5;
      transition: all 0.1s ease-in-out;
    }
  }
}

.modalOff {
  opacity: 0;
}

.modalVisible {
  opacity: 1;
}
