.orders {
  background-color: var(--fontcolor-white);
  align-items: center;
  min-height: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-grotesk);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 600px;
  height: 30%;
  margin: auto;
  color: var(--fontcolor-white);
  font-size: 1.2rem;
  margin-top: .5rem;
}

#noOrder {
  width: 100%;
  font-family: var(--font-grotesk);
  text-align: center;
}

.openIcon {
  transform: rotate(225deg);
  font-size: 2.5rem;
  margin: 0.2rem 0.1rem 0 0.1rem;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.orderMini {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: .3rem 1rem;
  margin-bottom: 1rem;
  background-color: var(--background-secondary-color);
  box-shadow:
    rgba(0, 0, 0, 0.25) 1px 4px 8px 4px, rgba(0, 0, 0, 0.12) -1px -9px 30px, rgba(
      0,
      0,
      0,
      0.12
    ) 0px 4px 4px 2px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 1px -7px 8px 7px;
}

#orderDetailsButton {
  border-radius: 6px;

  @media screen and (min-width: 1200px) {
    padding: 0 1rem;
  }
}

#orderNumber {
  font-family: var(--font-grotesk);

  @media screen and (min-width: 1200px) {
    font-size: 1.5rem;
  }
}

.orderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noOrderContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 600px;
  height: 30%;
  margin: auto;
  padding: .3rem 1rem;
  color: var(--fontcolor-white);
  font-size: 1.2rem;
  margin-top: .5rem;
  background-color: var(--background-secondary-color);
  box-shadow:
    rgba(0, 0, 0, 0.25) 1px 4px 8px 4px, rgba(0, 0, 0, 0.12) -1px -9px 30px, rgba(
      0,
      0,
      0,
      0.12
    ) 0px 4px 4px 2px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 1px -7px 8px 7px;

  @media screen and (min-width: 1200px) {
    font-size: 1.5rem;
  }
}

#close {
  transform: rotate(0deg);
}

.category {
  color: var(--fontcolor-gold);

  @media screen and (min-width: 1200px) {
    font-size: 1.4rem;
  }
}

ul {
  list-style-type: none;
}

.articleCount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quantity {
  color: var(--fontcolor-gold);
  font-size: 1rem;
}

.quantityCount {
  color: var(--fontcolor-white);
  font-size: 1.2rem;
}

.seeMore {
  display: none;

  @media screen and (min-width: 1200px) {
    display: inline-block;
    font-size: 1.3rem;
    font-family: var(--font-grotesk);
  }
}
