.adminUsers {
  padding: 2rem;
  position: relative;

  .interraction {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 2.5rem;
    position: relative;
    gap: 1rem;
    margin-bottom: 1rem;

    input {
      width: 25rem;
      height: 100%;
      border: none;
      background-color: var(--background-secondary-color);
      padding: 0 2.25rem 0 .5rem;
      color: var(--fontcolor-white);
      font-family: var(--font-grotesk);
      font-size: 18px;
      -webkit-box-shadow: inset 4px 6px 15px -5px #000000;
      box-shadow: inset 4px 6px 15px -5px #000000;
    }

    .search {
      height: 2.5rem;
      width: 2.5rem;
      background-color: transparent;
      border: none;
      color: var(--fontcolor-white);
      position: absolute;
      left: 22.5rem;
      cursor: pointer;
      font-size: 30px;
    }
  }

  .list {
    text-align: center;
    width: 100%;
    background-color: var(--background-secondary-color);
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    list-style: none;
    font-family: var(--font-grotesk);
    color: var(--fontcolor-gold);
    font-size: 18px;
    height: 4.2rem;
    -webkit-box-shadow: 0px 0px 15px -5px #000000;
    box-shadow: 0px 0px 15px -5px #000000;
    cursor: default;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 2px solid black;
      border-bottom: 2px solid black;
      width: 100%;
      height: 100%;
      font-size: 22px;
    }

    .last {
      border-right: none;
    }
  }
}

.notFound {
  text-align: center;
  background-color: var(--background-secondary-color);
  color: var(--fontcolor-white);
  font-family: var(--font-grotesk);
  font-size: 19px;
  padding: .5rem 1rem;
  align-self: center;
  justify-self: center;
  margin: 3rem 0 8rem 0;
  -webkit-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.75);
  cursor: default;
}
