.header {
  height: 10rem;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 12% 10% 15% 15% 8%;
  grid-template-rows: 33% 33% 33%;
  margin: 1rem 0;

  @media screen and (min-width: 1200px) {
    grid-template-columns: 42% 16% 42%;
    grid-template-rows: 100%;
    height: 7rem;
    margin: 0;
  }

  h1 {
    font-family: var(--font-kapakana);
    font-size: 55px;
    font-weight: 500;
    cursor: default;
    grid-area: 1 / 1 / 3 / 4;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    margin: -0.5rem 0 0 1.5rem;

    @media screen and (min-width: 1200px) {
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      font-size: 60px;
    }
  }

  .woodyTitle {
    background: linear-gradient(
      var(--fontcolor-white) 33%,
      var(--fontcolor-grey) 70%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 6px 5px #000000;
    grid-area: 1 / 1 / 3 / 3;
  }

  .galleryTitle {
    background: linear-gradient(
      var(--fontcolor-gold) 45%,
      var(--fontcolor-gold-dark) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 6px 5px #000000;
    grid-area: 2 / 2 / 4 / 4;
  }

  .shopIcon {
    grid-area: 1 / 5 / 3 / 6;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
    position: relative;

    span {
      height: 45px;
      width: 45px;
      margin: 5px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      background-color: var(--fontcolor-white);
      color: var(--fontcolor-black);
    }

    p {
      color: var(--fontcolor-white);
      font-size: 15px;
      position: absolute;
      z-index: 10;
      border-radius: 50%;
      background-color: var(--color-red);
      height: 20px;
      width: 20px;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--font-grotesk);
      padding-bottom: .1rem;
    }

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  .accountIcon {
    color: var(--fontcolor-white);
    grid-area: 1 / 6 / 3 / 7;
    margin: auto;
    padding-right: 1rem;
    cursor: pointer;

    span {
      font-size: 55px;
    }

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  .accountAdmin {
    color: var(--color-red);
  }

  .ulNavigation,
  .ulUser {
    font-family: var(--font-aboreto);
    color: var(--fontcolor-white);
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.83);
    font-size: 16px;
    gap: 1.5rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    a {
      text-decoration: none;
      color: var(--fontcolor-white);
      transition: all 0.1s ease-in-out;
      color: inherit;
      z-index: 20;
      gap: 0.5rem;
      text-decoration: transparent;

      li {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        position: relative;

        .numberOrder {
          color: var(--fontcolor-white);
          font-size: 15px;
          position: absolute;
          z-index: 10;
          border-radius: 50%;
          background-color: #c50000;
          height: 20px;
          width: 20px;
          top: -5px;
          left: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: var(--font-grotesk);
          padding-bottom: .1rem;
        }

        p {
          text-decoration: transparent;
          transition: text-decoration 0.1s ease-in-out;
          z-index: 10;
        }

        p:hover {
          text-decoration: underline;
        }
      }

      li::after,
      li::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -8px;
        right: -8px;
        bottom: -5px;
        transition: all 0.1s ease-in-out;
        -webkit-box-shadow: inset 3px 3px 11px -4px #00000000;
        box-shadow: inset 3px 3px 11px -4px #00000000;
      }

      li:active::after,
      li:active::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -8px;
        right: -8px;
        bottom: -5px;
        -webkit-box-shadow: inset 3px 3px 11px -4px #000000;
        box-shadow: inset 3px 3px 11px -4px #000000;
      }
    }
  }

  .ulNavigation {
    grid-area: 3 / 1 / 4 / 8;

    @media screen and (min-width: 1200px) {
      grid-area: 1 / 1 / 2 / 2;
      margin: auto;
      font-size: 21px;
    }
  }

  .ulUser {
    display: none;

    @media screen and (min-width: 1200px) {
      display: flex;
      font-size: 21px;
      grid-area: 1 / 3 / 2 / 4;
      margin: auto;
    }

    .account {
      font-size: 50px;
    }
  }

  .navLink:hover {
    color: var(--fontcolor-gold);
    span:hover {
      text-decoration: none;
    }
  }
}
