.account {
  background-color: var(--footerbg-primary-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lines {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: var(--background-secondary-color);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.container {
  margin: 0 0 0 1.3rem;
  font-family: var(--font-grotesk);
  font-size: 1.2rem;
  color: var(--fontcolor-white);
  position: relative;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
}

.editButton {
  margin: 0.7rem;
  border-radius: 8px;
  padding: 0 .2rem 0 .2rem;
}

.editIcon {
  font-size: 2rem;
  margin-top: 0.1rem;
}

.input {
  height: 2rem;
  background-color: var(--background--color);
  color: var(--fontcolor-white);
  padding-left: 1rem;
  font-size: 1.2rem;
  font-family: var(--font-grotesk);
  margin: .3rem 0 1rem 0;
}

#lineName {
  margin-top: 1rem;
}

.passwords {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem 0;
}

.eyes {
  position: absolute;
  border: none;
  background-color: var(--background-secondary-color);
  color: var(--fontcolor-white);
  right: 5rem;
  top: 8.4rem;
}

.passwordVisibility {
  display: flex;
}
