.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  width: 100%;

  @media screen and (min-width: 1050px) {
    flex-direction: row;
  }

  .addToCart {
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: "Familjen Grotesk", sans-serif;
    font-size: 22px;
  }

  button {
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: var(--font-grotesk);
    font-size: 22px;
  }

  .buyNow {
    background-color: #eac700;
    color: var(--fontcolor-black);
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: var(--font-grotesk);
    font-size: 22px;
    text-align: center;
  }

  .addToCart:hover,
  .buyNow:hover {
    color: #000;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  }
  .addToCart:active,
  .buyNow:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  .description {
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    margin: 0;
    font-family: "Familjen Grotesk", sans-serif;
  }
}
