.shopTitle {
  font-family: var(--font-aboreto);
  font-weight: 500;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.54);
  background-color: var(--footerbg-primary-color);
  margin: 0;
  font-size: 28px;
  text-align: center;
  padding: 0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  width: 100%;
  cursor: default;
}

.articleDetails {
  display: flex;
  flex-direction: column;
  align-items: center;

  .photoContainer {
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-secondary-color);

    .articlePhoto {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .backgroundArticleWhite {
    padding: 1.5rem 0;
    width: 100%;
    background-color: white;
    border: none;
    -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.31);
    box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.31);

    .articlesContain {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      padding: 1rem;
      color: white;
      font-family: var(--font-grotesk);
      background-color: var(--background-secondary-color);
      -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.49);
      box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.49);

      .favoriteIcon {
        position: absolute;
        right: 1rem;
        border: none;
        background-color: transparent;
        font-size: 40px;
        color: var(--fontcolor-white);
        cursor: pointer;
      }

      img {
        height: 40px;
      }

      h3 {
        font-size: 25px;
        cursor: default;
        margin-bottom: .5rem;
      }

      .price,
      .format,
      .frameType,
      .description {
        font-size: 20px;
        color: white;
        margin: .5rem 0;
        cursor: default;
      }

      hr {
        border: none;
        height: 2px;
        background-color: var(--footerbg-primary-color);
        width: 100%;
        margin: .2rem 0;
      }

      .seeMore {
        border: none;
        background-color: transparent;
        color: var(--fontcolor-white);
        font-family: var(--font-grotesk);
        font-size: 20px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
