.collectionCard {
  background-color: var(--footerbg-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 1);

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h3 {
    position: absolute;
    bottom: 0;
    background-color: var(--footerbg-primary-color);
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-family: var(--font-aboreto);
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    box-shadow: -3px -3px 20px -9px rgba(0, 0, 0, 1) inset;
    -webkit-box-shadow: -3px -3px 20px -9px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: -3px -3px 20px -9px rgba(0, 0, 0, 1) inset;
    z-index: 20;
  }

  div {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
    background-color: rgba(0, 0, 0, 0.404);
    -webkit-box-shadow: inset 0px 0px 17px -3px #000000;
    box-shadow: inset 0px 0px 17px -3px #000000;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: var(--fontcolor-white);
      font-family: var(--font-grotesk);
      font-size: 20px;
      font-weight: 100;
      text-decoration: none;
      margin: 0 0.25rem;
      position: relative;
      z-index: 11;
      text-shadow: 2px 2px 4px #000000;
      transition: border 0.2s ease-in-out;

      @media screen and (min-width: 1280px) {
        font-size: 21px;
      }
      @media screen and (min-width: 1100px) and (max-width: 1280px) {
        font-size: 23px;
      }
    }

    a::after,
    a::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -12px;
      right: -12px;
      bottom: -5px;
      border: 2px solid transparent;
      transition: border 0.2s ease-in-out;
      @media screen and (min-width: 1280px) {
        left: -16px;
        right: -16px;
      }
    }

    a:hover::after {
      border-color: var(--footerbg-primary-color);
    }

    a:active::before {
      border-color: var(--footerbg-primary-color);
      background-color: var(--background-tertiary-color);
      z-index: -5;
      transition: all 0.1s ease-in-out;
    }
  }
}

.modalOff {
  opacity: 0;
}

.modalVisible {
  opacity: 1;
}
