.collections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-family: var(--font-aboreto);
    font-weight: 500;
    font-style: normal;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.54);
    background-color: var(--footerbg-primary-color);
    margin: 3rem 0;
    font-size: 28px;
    text-align: center;
    padding: 0.25rem 0;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    width: 100%;
    cursor: default;

    @media screen and (min-width: 1280px) {
      margin: 4rem 0 4rem 0;
      font-size: 32px;
    }
  }

  .carousel {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100%;
    font-family: var(--font-grotesk);
    height: 17rem;
    cursor: default;
    margin-bottom: 7rem;
    width: 100%;

    @media screen and (min-width: 1280px) {
      width: 80rem;
      height: 19rem;
      grid-template-columns: 5% 90% 5%;
    }

    .carouselContainCol {
      height: 17rem;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      overflow: hidden;

      @media screen and (min-width: 1280px) {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 100%;
        gap: 3rem;
        padding: 0 9rem 0 3rem;
        width: 100%;
        height: 100%;
      }
    }

    .prev {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: auto;
      rotate: 180deg;
      font-size: 50px;
      color: var(--footerbg-primary-color);
      cursor: pointer;
      user-select: none;
    }

    .next {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      margin: auto;
      font-size: 50px;
      color: var(--footerbg-primary-color);
      cursor: pointer;
      user-select: none;
    }
  }
}
