.reviewCard {
  background-color: var(--footerbg-primary-color);
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 25% 60% 15%;
  padding: 0.5rem 1rem;
  height: 10rem;
  box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 1);
  width: 100%;

  @media screen and (min-width: 1280px) {
    height: 100%;
  }

  h4 {
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: 0.5rem;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @media screen and (min-width: 1280px) {
      font-size: 25px;
    }
  }

  div {
    grid-area: 1 / 2 / 2 / 3;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      height: 20px;
      @media screen and (min-width: 1280px) {
        height: 25px;
      }
    }
    span {
      font-size: 20px;
      @media screen and (min-width: 1280px) {
        font-size: 25px;
      }
    }
  }

  .comment {
    grid-area: 2 / 1 / 3 / 3;
    overflow: hidden;
    @media screen and (min-width: 1280px) {
      font-size: 18px;
    }
  }

  .date {
    grid-area: 3 / 2 / 4 / 3;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
}
